.about-me-container {
  display: flex;
  flex-direction: column;
  margin: 24px 24px;
  padding: 5% 5%;

  .am-heading {
    font-size: 24px;
    text-decoration: underline;
    font-weight: 900;
  }

  .am-description-container {
    .am-desc {
        margin: 12px 0;
    }
  }
}

.am-dark {
  box-shadow: rgb(244 244 245 / 25%) 0px 1px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.am-light {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
