@import '_breakpoints';
@import '_mixins';

.App {
  height: 100%;
}

.flex-container1, .flex-container2 {
  display: flex;
  flex-wrap: wrap;
}

.flex-container1, .flex-container2 {
  flex-direction: row;
  align-items: center;
}

/* .flex-container2 {
  flex-direction: row;
  justify-content: center;
} */

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container2 {
    flex-direction: column;
    align-items: center;
  }

  .component-JR {
    width: 100px !important;
  }
}

.credits-component {
  justify-content: center;
}

.thank-you-component{
  justify-content: left;
  font-size: xx-large;
  flex: 4;
  margin: 2%;

}
.img-responsive {
  width: 60%;
  height: 60%;
}

hr{
  display: block;
  border: 200px;
  border-top: 2px solid #131111;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgb(57 53 53);
  margin: 1em 0;
  padding: 0;
  width: 50%;
}

h1{
  font-family: brush-script-std, sans-serif !important;
  font-style: normal;
  font-weight: 400;
}

.flex-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-me-component {
  width: 100%;
  
  background-color: rgb(28, 47, 83);
  color: white;
}

.contact-me-header{
  font-size: xx-large;
  margin: 2%;
  background-color: cadetblue;
  padding: 2%;
}

.social-media-component {
  height: 170px;
  background-color: rgb(28, 47, 83);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.flex-container4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.component-JR {
  width: 250px;
}

a { color: inherit; } 

.section-main-heading-text {
  letter-spacing: 2px;
  text-transform: uppercase;
  align-self: center;
    font-size: 24px;
    font-weight: 600;
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@media (prefers-reduced-motion: no-preference) {
  .square-animation {
    animation: wipe-enter 1s 1;
  }
}