.display-pic-container {
    width: fit-content;

    .dp-icon {
        width: fit-content;
        position: absolute;
        top: 20%;
        left: 70%;
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
}

@media (max-width: 1024px) {
    .display-pic-container {
        display: none;
    }
}
